<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>理赔流程</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body class="white-bg">
    <div class="page-container">
        <div class="view-container">
            <header class="brand-title">
                理赔流程
                <div class="brand-title-back" onclick="window.history.go(-1)">返回</div>
            </header>
            <div class="mainbox">
                <div class="claim ">
                    <ul>
                        <div class="claim-border"></div>
                        <li>
                            <span>1</span>
                            <h2>拨打全国统一报案电话 95511</h2>
                            <p>文案以PRD为准</p>
                        </li>
                        <li>
                            <span>2</span>
                            <h2>准备相关材料</h2>
                            <p>文案以PRD为准</p>
                        </li>
                        <li>
                            <span>3</span>
                            <h2>带着材料到平安门店办理</h2>
                            <p>文案以PRD为准</p>
                        </li>
                        <li>
                            <span>4</span>
                            <h2>确属保险责任范围，在赔付协议达成后 10天内赔付</h2>
                            <p>文案以PRD为准</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
