<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>常见问题</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="page-container">
        <div class="view-container">
            <header class="brand-title">
                常见问题
                <div class="brand-title-back" onclick="window.history.go(-1)">返回</div>
            </header>
            <div class="mainbox ma-t13">
                <div class="content white-bg">
                    <div class="content-list">
                        <ul>
                            <li>
                                <a href="javascript: void(0);"  class="arrow-up">
                                    <div class="content-list-title">
                                        <span class="project-name">问：交通综合意外险保障范围有哪些？</span>
                                    </div>
                                </a>
                                <div class="content-list-text">
                                    <p>如果被保险人以乘客身份乘坐民航客机、商业营运的火 车、轮船、地铁、轻轨和商业营运的汽车期间遭受了意 外伤害事故身故，我们将赔偿</p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript: void(0);"  class="arrow-up">
                                    <div class="content-list-title">
                                        <span class="project-name">问：可以只选一种交通工具吗？</span>
                                    </div>
                                </a>
                                <div class="content-list-text">
                                    <p>当然可以。交通意外险产品升级后可以分别提供乘坐飞 机、火车(含高铁、地铁)、轮船、汽车(含公交、出租车) 等公共交通工具时的意</p>
                                </div>
                            </li>
                        </ul>
                        <div class="bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
