<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交通意外险</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
<div class="page-container" id="detail">
    <div class="view-container">
        <div class="brand-title">
            交通综合意外保险
            <div class="brand-title-back goBack" onclick="window.history.go(-1)">返回</div>
        </div>
        <section class="banner">
            <a href="#"><img src="images/banner_shaoerxian.jpg" alt=""></a>
            <div class="banner-text">
                <h2>商务出行人士首选，500万高额航意险</h2>
                <p></p>
            </div>
        </section>
        <section class="mainbox pa-b72 ma-t13">
            <ul class="tabmenu column3">
                <li class="current" data-id="74966" data-price="9.2-18">
                    <h2>经济型</h2>
                    <p>
                        9.2元-18元
                    </p>
                </li><li class="" data-id="74967" data-price="12.4-32">
                <h2>全面型</h2>
                <p>
                    12.4元-32元
                </p>
            </li><li class="" data-id="74968" data-price="16-108">
                <h2>热销型</h2>
                <p>
                    16元-108元
                </p>
            </li>
            </ul>
            <div class="content white-bg">
                <div class="content-title">保障利益</div>
                <div id="contentList">
                    <div class="content-list content0">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" class="arrow-down showInfo">
                                    <div class="content-list-title">
                                        <span class="project-name">飞机意外身故/残疾</span>
                                        <span class="money">40万-50万</span>
                                    </div>
                                </a>
                                <div class="content-list-text hide">
                                    <p>未成年40万,成年人50万;在保险期间内，以乘客身份乘坐民航客机期间因意外伤害事故身故/残疾，我们将按“飞机意外伤害保险金额”给付保险金;</p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="arrow-down showInfo">
                                    <div class="content-list-title">
                                        <span class="project-name">火车、轮船、地铁、高铁、轻轨意外身故/残疾</span>
                                        <span class="money">5万-20万</span>
                                    </div>
                                </a>
                                <div class="content-list-text hide">
                                    <p>未成年5万,成年人20万;在保险期间内，以乘客身份乘坐商业运营的火车、轮船、高铁、地铁、轻轨期间因意外伤害事故而导致身故或残疾，我们将按“火车、轮船意外伤害保险金额”给付保险金；</p>
                                </div>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="arrow-down showInfo">
                                    <div class="content-list-title">
                                        <span class="project-name">汽车、公交、出租车意外身故/残疾</span>
                                        <span class="money">2万-5万</span>
                                    </div>
                                </a>
                                <div class="content-list-text hide">
                                    <p>未成年2万,成年人5万;被保险人在保险期间内，以乘客身份乘坐商业运营的汽车期间因意外伤害事故而导致身故/残疾，我们将按“汽车意外伤害保险金额”给付保险金;</p>
                                </div>
                            </li>

                        </ul>
                    </div><div class="content-list content1 hide">
                    <ul>
                        <li>
                            <a href="javascript: void(0);" class="arrow-down showInfo">
                                <div class="content-list-title">
                                    <span class="project-name">飞机意外身故/残疾</span>
                                    <span class="money">40万-100万</span>
                                </div>
                            </a>
                            <div class="content-list-text hide">
                                <p>未成年40万,成年人100万;在保险期间内，以乘客身份乘坐民航客机期间因意外伤害事故身故/残疾，我们将按“飞机意外伤害保险金额”给付保险金;</p>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="arrow-down showInfo">
                                <div class="content-list-title">
                                    <span class="project-name">火车、轮船、地铁、高铁、轻轨意外身故/残疾</span>
                                    <span class="money">10万-30万</span>
                                </div>
                            </a>
                            <div class="content-list-text hide">
                                <p>未成年10万,成年人30万;在保险期间内，以乘客身份乘坐商业运营的火车、轮船、高铁、地铁、轻轨期间因意外伤害事故而导致身故或残疾，我们将按“火车、轮船意外伤害保险金额”给付保险金；</p>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="arrow-down showInfo">
                                <div class="content-list-title">
                                    <span class="project-name">汽车、公交、出租车意外身故/残疾</span>
                                    <span class="money">5万-10万</span>
                                </div>
                            </a>
                            <div class="content-list-text hide">
                                <p>未成年5万,成年人10万;被保险人在保险期间内，以乘客身份乘坐商业运营的汽车期间因意外伤害事故而导致身故/残疾，我们将按“汽车意外伤害保险金额”给付保险金;</p>
                            </div>
                        </li>

                    </ul>
                </div><div class="content-list content2 hide">
                    <ul>
                        <li>
                            <a href="javascript: void(0);" class="arrow-down showInfo">
                                <div class="content-list-title">
                                    <span class="project-name">飞机意外身故/残疾</span>
                                    <span class="money">40万-500万</span>
                                </div>
                            </a>
                            <div class="content-list-text hide">
                                <p>未成年40万,成年人500万;在保险期间内，以乘客身份乘坐民航客机期间因意外伤害事故身故/残疾，我们将按“飞机意外伤害保险金额”给付保险金;</p>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="arrow-down showInfo">
                                <div class="content-list-title">
                                    <span class="project-name">火车、轮船、地铁、高铁、轻轨意外身故/残疾</span>
                                    <span class="money">10万-50万</span>
                                </div>
                            </a>
                            <div class="content-list-text hide">
                                <p>未成年10万,成年人50万;在保险期间内，以乘客身份乘坐商业运营的火车、轮船、高铁、地铁、轻轨期间因意外伤害事故而导致身故或残疾，我们将按“火车、轮船意外伤害保险金额”给付保险金；</p>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="arrow-down showInfo">
                                <div class="content-list-title">
                                    <span class="project-name">汽车、公交、出租车意外身故/残疾</span>
                                    <span class="money">10万-20万</span>
                                </div>
                            </a>
                            <div class="content-list-text hide">
                                <p>未成年10万,成年人20万;被保险人在保险期间内，以乘客身份乘坐商业运营的汽车期间因意外伤害事故而导致身故/残疾，我们将按“汽车意外伤害保险金额”给付保险金;</p>
                            </div>
                        </li>

                    </ul>
                </div>
                </div>
                <div class="bottom-line"></div>
            </div>
            <div class="content-list white-bg ma-t13" style="display:none">
                <ul>
                    <li><a href="http://m.pingan.com/app_images/wap/v30/c3/chaoshi/sys/baoxian/pdf/jiaotongyiwai.pdf" class="arrow-right">
                        <div class="content-list-title">
                            <span class="project-name">平安交通意外伤害保险（2013版）（A款）条款</span>
                            <span class="money"></span>
                        </div>
                    </a></li>
                </ul>
                <div class="bottom-line"></div>
            </div>
            <div class="fixed-bottom-btn">
                <div class="btn-hundred-percent"><a href="fillInformation.html">马上投保</a></div>
            </div>
        </section>
    </div>
</div>
<div class="looding hide">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>

</body>
</html>
