<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>少儿险-公共模块</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <div id="main">
    <!-- tabMenu 通栏式 -->
    <ul class="tabmenu column1">
        <li>
            <h2>文案文案文案文案文案文案文案文</h2>
            <p>
                <span>成年人：¥1800.00</span>
                <span>未成年：¥9100.00</span>
            </p>
        </li>
    </ul>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <!-- tabMenu 两栏式 -->
    <ul class="tabmenu column2">
        <li class="current">
            <h2>豪华款</h2>
            <p><span class="font24">¥2.77</span>/人天</p>
        </li>
        <li>
            <h2>热销款</h2>
            <p><span class="font24">¥2.22</span>/人天</p>
        </li>
    </ul>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <!-- tabMenu 三栏式 -->
    <ul class="tabmenu column3">
        <li class="current">
            <h2>经济型</h2>
            <p>成年人 ¥18.00</p>
            <p>未成年 ¥9.20</p>
        </li>
        <li>
            <h2>全面型</h2>
            <p>成年人 ¥3200.00</p>
            <p>未成年 ¥12.40</p>
        </li>
        <li>
            <h2>豪华型</h2>
            <p>成年人 ¥108.00</p>
            <p>未成年 ¥16.00</p>
        </li>
    </ul>
    <p>&nbsp</p>
    <div class="fixed-bottom-btn col-btn-two">
        <div class="btn-total">
            合计:18￥
        </div>
        <div class="btn-hundred-percent w-50 not-click">马上投保</div>
    </div>
    <!-- </div> -->
  </div>

    <div class="btn-sub not-click">
        确认
    </div>

    <section>
        <div class="btn-remind-red">删除</div>
        <div class="btn-remind-blue">再试一次</div>
    </section>
    <section>
        <div class="pop-btn-sub pop-btn-canner">删除</div>
    </section>
    <section>
        <div class="btn-add-icon">
            <span class="add-icon-imgs"></span>
            添加
        </div>
    </section>
    <section class="grid-box white-bg">
        <div class="insurer-list-row">
            <div class="btn-checkbox">
                <input type="checkbox" class="hide checkbox-checked" id="checkbox-f1">
                <label for="checkbox-f1" class="checkbox-default">李四</label>
            </div>
            <div class="insurer-list-row-edit">编辑</div>
        </div>
    </section>

    <section style="padding-bottom: 200px;">
        <input type="text" id="name" class="input-style input-style" placeholder="手机号码" maxlength="11">
        <p>&nbsp</p>
        <input type="text" id="name" class="input-style input-style-foucs" placeholder="手机号码" maxlength="11">
        <p>&nbsp</p>
        <input type="text" id="name" class="input-style input-style-error" placeholder="手机号码" maxlength="11">
    </section>
    <!-- <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
    <div class="mask"></div> -->
  <div class="dialog-fixed-bottom">
      <!-- 提示文本左对齐 -->
      <p>确定要放弃填写保单信息吗？您已填写的信息将无法保存。</p>

      <!-- 提示文本居中对齐 -->
      <!-- <p class="align-center">要删除这个被保险人吗？</p> -->

      <div class="btn-horizontally ma-t26">
          <div class="btn-remind-red">放弃填写并退出</div>
      </div>
      <a href="javascript: void(0);" class="text-btn">继续填写</a>
  </div>
</body>
</html>
