<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一厨房设计规范 — 按钮</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body>
<div class="page-container">
    <div class="view-container">
        <header class="navbar navbar-kitchen">
            <div class="navbar-back navbar-kitchen-back" onclick="window.history.go(-1)">返回</div>
            <div class="navbar-con">按钮</div>
        </header>
        <div class="container">
            <section class="group">
                <div class="group-title">常规按钮</div>
                <div class="group-title group-title-class">块状按钮</div>
                <div class="group-body" style="padding: 0 10px;">
                    <p>&nbsp;</p>
                    <div class="btn-default-block">默认按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-small-block">小号按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-smaller-block">加小号</div>
                    <p>&nbsp;</p>
                </div>

                <div class="group-body" style="padding: 0 10px;">
                    <div class="group-title group-title-class" style="border-top:0"><i>块状按钮——点击状态</i></div>
                    <p>&nbsp;</p>
                    <div class="btn-default-block btn-block-active">默认按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-small-block btn-block-active">小号按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-smaller-block btn-block-active">加小号</div>
                    <p>&nbsp;</p>
                </div>

                <div class="group-body" style="padding: 0 10px;">
                    <div class="group-title group-title-class" style="border-top:0"><i>块状按钮——不可点击</i></div>
                    <p>&nbsp;</p>
                    <div class="btn-default-block btn-block-disable">默认按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-small-block btn-block-disable">小号按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-smaller-block btn-block-disable">加小号</div>
                    <p>&nbsp;</p>
                </div>

                <div class="group-title group-title-class">线框按钮</div>
                <div class="group-body" style="padding: 0 10px;">
                    <p>&nbsp;</p>
                    <div class="btn-default-block btn-default-linear">默认按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-small-block btn-default-linear">小号按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-smaller-block btn-default-linear">加小号</div>
                    <p>&nbsp;</p>
                </div>
                <div class="group-body" style="padding: 0 10px;">
                    <div class="group-title group-title-class" style="border-top:0"><i>线框按钮——点击状态</i></div>
                    <p>&nbsp;</p>
                    <div class="btn-default-block btn-linear-active">默认按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-small-block btn-linear-active">小号按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-smaller-block btn-linear-active">加小号</div>
                    <p>&nbsp;</p>
                </div>
                <div class="group-body" style="padding: 0 10px;">
                    <div class="group-title group-title-class" style="border-top:0"><i>线框按钮——不可点击</i></div>
                    <p>&nbsp;</p>
                    <div class="btn-default-block btn-linear-disable">默认按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-small-block btn-linear-disable">小号按钮</div>
                    <p>&nbsp;</p>
                    <div class="btn-smaller-block btn-linear-disable">加小号</div>
                    <p>&nbsp;</p>
                </div>
                <div class="group-body" style="padding: 0 10px;">
                    <div class="group-title group-title-class" style="border-top:0"><i>线框按钮——警示按钮</i></div>
                    <p>&nbsp;</p>
                    <div class="btn-default-block btn-warning">删除</div>
                    <p>&nbsp;</p>
                </div>
            </section>
        </div>
        <nav class="tabbar">
            <a href="../index.html" class="tabbar-item">
                <span class="icon icon-components"></span>
                <span>组件</span>
            </a>
            <a href="http://m.pingan.com" class="tabbar-item">
                <span class="icon icon-official"></span>
                <span>官网</span>
            </a>
        </nav>
    </div>
</div>
</body>
</html>