<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一厨房设计规范 — 卡片</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body>
<div class="page-container">
    <div class="view-container">
        <header class="navbar navbar-kitchen">
            <div class="navbar-back navbar-kitchen-back" onclick="window.history.go(-1)">返回</div>
            <div class="navbar-con">卡片</div>
        </header>
        <div class="container">
            <section class="group">
                <div class="group-title">带标题、内容的卡片</div>
                <div class="group-body">
                    <div class="card card-base">
                        <div class="card-base-title">
                            <h2 class="card-base-title-h2">平安集团发布《消费白皮书》</h2>
                        </div>
                        <div class="card-base-con">
                            <p>一账通用户过亿智能财富管理平台引领互联网金融发展平安集团发布国内首份《互联网金融消费白皮书》一账通用户过亿智能财富管理平台引领互联网金融发展。</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="group">
                <div class="group-title">带图标、标题、内容的卡片</div>
                <div class="group-body">
                    <div class="card card-base">
                        <div class="card-base-title">
                            <div class="card-base-title-img"><img src="../../images/test_img1.png" alt=""></div>
                            <h2 class="card-base-title-h2">互联网理财三大需求</h2>
                        </div>
                        <div class="card-base-con">
                            <p>一账通用户过亿智能财富管理平台引领互 联网金融发展平安集团发布国内首份《互 联网金融消费白皮书》一账通用户过亿智 能财富管理平</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="group">
                <div class="group-title">带图标、标题、内容、链接的卡片</div>
                <div class="group-body">
                    <div class="card card-base">
                        <div class="card-base-title">
                            <div class="card-base-title-img"><img src="../../images/test_img1.png" alt=""></div>
                            <h2 class="card-base-title-h2">互联网理财“爆款”</h2>
                        </div>
                        <div class="card-base-con">
                            <p>一账通用户过亿智能财富管理平台引领互 联网金融发展平安集团发布国内首份《互 联网金融消费白皮书》一账通用户过亿智 能财富管理平</p>
                        </div>
                        <a href="../index.html" class="card-linked">
                            <span>点击查看详情</span>
                            <span class="arrow-right"></span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="group">
                <div class="group-title">带缩略图、标题、内容的卡片</div>
                <div class="group-body">
                    <div class="card">
                        <dl>
                            <dt><img src="../../images/test_img2.png" alt=""></dt>
                            <dd>
                                <h2>互联网理财发展趋势</h2>
                                <p>一账通用户过亿智能财富管 理平台引领互联网金融发展 平安集团发布国内首份平安集团发布国内首份平安集团发布国内首份《互</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </section>

        </div>
        <nav class="tabbar">
            <a href="../index.html" class="tabbar-item">
                <span class="icon icon-components"></span>
                <span>组件</span>
            </a>
            <a href="http://m.pingan.com" class="tabbar-item">
                <span class="icon icon-official"></span>
                <span>官网</span>
            </a>
        </nav>
    </div>
</div>
</body>
</html>