<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一厨房设计规范 — 卡片</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body>
<div class="page-container">
    <div class="view-container">
        <header class="navbar navbar-kitchen">
            <div class="navbar-back navbar-kitchen-back" onclick="window.history.go(-1)">返回</div>
            <h2 class="navbar-con">虚拟键盘</h2>
        </header>
        <div class="container">
            <section class="group">
                <div class="keyboard">
                    <ul class="keyboard-row">
                        <li>
                            <p class="number">1</p>
                        </li>
                        <li>
                            <p class="number">2</p>
                            <p class="letter">ABC</p>
                        </li>
                        <li>
                            <p class="number">3</p>
                            <p class="letter">DEF</p>
                        </li>
                    </ul>
                    <ul class="keyboard-row">
                        <li>
                            <p class="number">4</p>
                            <p class="letter">GHI</p>
                        </li>
                        <li>
                            <p class="number">5</p>
                            <p class="letter">JKL</p>
                        </li>
                        <li>
                            <p class="number">6</p>
                            <p class="letter">MNO</p>
                        </li>
                    </ul>
                    <ul class="keyboard-row">
                        <li>
                            <p class="number">7</p>
                            <p class="letter">PQRS</p>
                        </li>
                        <li>
                            <p class="number">8</p>
                            <p class="letter">TUV</p>
                        </li>
                        <li>
                            <p class="number">9</p>
                            <p class="letter">WXYZ</p>
                        </li>
                    </ul>
                    <ul class="keyboard-row">
                        <li class="gray" style="line-height: 54px">.</li>
                        <li class="zero">
                            <p>0</p>
                        </li>
                        <li class="gray">
                            <p class="clearIcon"><i></i></p>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
        <nav class="tabbar">
            <a href="../index.html" class="tabbar-item">
                <span class="icon icon-components"></span>
                <span>组件</span>
            </a>
            <a href="http://m.pingan.com" class="tabbar-item">
                <span class="icon icon-official"></span>
                <span>官网</span>
            </a>
        </nav>
    </div>
</div>
</body>
</html>