<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一厨房设计规范 — 列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body>
<div class="page-container" id="new-page">
    <div class="view-container">
        <header class="navbar navbar-kitchen">
            <div class="navbar-back navbar-kitchen-back" onclick="window.history.go(-1)">返回</div>
            <div class="navbar-con">列表</div>
        </header>
        <div class="container">
            <section class="group">
                <div class="group-title">静态列表</div>
                <div class="group-body">
                    <ul>
                        <li class="item">
                            <h3 class="item-title">list item1</h3>
                        </li>
                        <li class="item">
                            <h3 class="item-title">list item2</h3>
                        </li>
                        <li class="item">
                            <h3 class="item-title">list item3</h3>
                            <div class="item-after">2016-06-30</div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="group">
                <div class="group-title">包含链接列表</div>
                <div class="group-body">
                    <ul>
                        <li class="item item-link">
                            <a href="../index.html">
                                <h3 class="item-title">list item1</h3>
                                <span class="item-icon"></span>
                            </a>
                        </li>
                        <li class="item item-link">
                            <a href="../index.html">
                                <h3 class="item-title">list item2</h3>
                                <span class="item-icon"></span>
                            </a>
                        </li>
                        <li class="item item-link">
                            <a href="../index.html">
                                <h3 class="item-title">list item3</h3>
                                <div class="item-after">2016-06-30</div>
                                <span class="item-icon"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <nav class="tabbar">
            <a href="../index.html" class="tabbar-item">
                <span class="icon icon-components"></span>
                <span>组件</span>
            </a>
            <a href="http://m.pingan.com" class="tabbar-item">
                <span class="icon icon-official"></span>
                <span>官网</span>
            </a>
        </nav>
    </div>
</div>
</body>
</html>