<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一厨房设计规范 — 卡片</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body>
<div class="page-container">
    <div class="view-container">
        <header class="navbar navbar-kitchen">
            <div class="navbar-back navbar-kitchen-back" onclick="window.history.go(-1)">返回</div>
            <h2 class="navbar-con">Loading</h2>
        </header>
        <div class="container">
            <section class="group">
                <div class="group-title">Loading 常规动画一</div>
                <div class="group-body">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </section>
            <section class="group">
                <div class="group-title">Loading 常规动画二</div>
                <div class="group-body">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </section>
            <section class="group">
                <div class="group-title">Loading 特殊动画</div>
                <div class="group-body">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="loading-brand">
                        <div class="loading-brand-default">
                            <div class="loading-brand-icon"></div>
                            <div class="loading-brand-loader">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </section>
        </div>
        <nav class="tabbar">
            <a href="../index.html" class="tabbar-item">
                <span class="icon icon-components"></span>
                <span>组件</span>
            </a>
            <a href="http://m.pingan.com" class="tabbar-item">
                <span class="icon icon-official"></span>
                <span>官网</span>
            </a>
        </nav>
    </div>
</div>
</body>
</html>