<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统一厨房设计规范 — 卡片</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="width=device-width,minimum-scale=1.00001,maximum-scale=1.00001,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body style="background: #efefef;">
<div class="page-container">
    <div class="view-container">
        <header class="navbar navbar-kitchen">
            <div class="navbar-back navbar-kitchen-back" onclick="window.history.go(-1)">返回</div>
            <h2 class="navbar-con">导航栏</h2>
        </header>
        <div class="container">
            <section class="group">
                <div class="group-title">常规导航栏</div>
                <div style="padding: 0 10px; background: #efefef;">
                    <header class="navbar" style="position: static">
                        <div class="navbar-back goBack" onclick="window.history.go(-1)">返回</div>
                        <h2 class="navbar-con">内容标题</h2>
                    </header>
                </div>

            </section>

            <section class="group">
                <div class="group-title">带搜索入口导航栏</div>
                <div style="padding: 0 10px; background: #efefef;">
                    <header class="navbar" style="position: static">
                        <div class="navbar-back goBack" onclick="window.history.go(-1)">返回</div>
                        <h2 class="navbar-con">内容标题</h2>
                        <div class="navbar-right">
                            <span class="icon-search"></span>
                        </div>
                    </header>
                </div>
            </section>

            <section class="group">
                <div class="group-title">带分享键导航栏</div>
                <div style="padding: 0 10px; background: #efefef;">
                    <header class="navbar" style="position: static">
                        <div class="navbar-back goBack" onclick="window.history.go(-1)">返回</div>
                        <h2 class="navbar-con">内容标题</h2>
                        <div class="navbar-right">
                            <span class="icon-share"></span>
                        </div>
                    </header>
                </div>
            </section>

            <section class="group">
                <div class="group-title">带购物车导航栏</div>
                <div style="padding: 0 10px; background: #efefef;">
                    <header class="navbar" style="position: static">
                        <div class="navbar-back goBack" onclick="window.history.go(-1)">返回</div>
                        <h2 class="navbar-con">内容标题</h2>
                        <div class="navbar-right">
                            <span class="icon-shoppingcar"></span>
                        </div>
                    </header>
                </div>
            </section>
        </div>
        <nav class="tabbar">
            <a href="../index.html" class="tabbar-item">
                <span class="icon icon-components"></span>
                <span>组件</span>
            </a>
            <a href="http://m.pingan.com" class="tabbar-item">
                <span class="icon icon-official"></span>
                <span>官网</span>
            </a>
        </nav>
    </div>
</div>
</body>
</html>